<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="tiedosto" value="App_Data\Työntekijät2013.xml"/>
    <add key="alumiininhinta" value="100"/>
    <add key="lasihinta" value="45"/>
    <add key="tyomenekki" value="150"/>
    <add key="kate" value="0.3"/>
    
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
</configuration>